streamlit>=1.28.0
pandas>=2.0.0
plotly>=5.15.0
numpy>=1.24.0
seaborn
matplotlib
scikit-learn
networkx==3.0
transformers
openai
opencv-python-headless
Pillow
wordcloud==1.9.3
bs4
PyPDF2
python-docx
elevenlabs
ffmpeg-python
youtube-transcript-api
Flask
gunicorn
streamlit
pymongo
requests
requests_oauthlib
python-dotenv
fpdf
tqdm
wandb
ipython